$primary-color: #444;
$secondary-color: rgb(255, 94, 0);
$show-home-image: true;
$home-image: url('../img/Foreground.jpg');
$background-opacity: 0.1;

//@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

@font-face{
    font-family: 'WebFontOutline';
    src: url('../font/OutlineMajor.ttf')
    format('truetype');
}

@font-face{
    font-family: 'WebFont';
    src: url('../font/Major.ttf')
    format('truetype');
}


@mixin easeOut {
    transition: all 0.3s ease-out;
}
@mixin easeIn {
    transition: all 0.3s ease-in;
}

@mixin background {
    @if $show-home-image {
      &#bg-img {
        background: $home-image;
        background-attachment: fixed;
        background-size: cover;
        
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($primary-color, $background-opacity);
            }
        }
    }
      
}

@function set-text-color($color) {
    @if (lightness($color)>40){
        @return #000;
    }
    @else
    {
        @return #fff;
    }
}


@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 1100px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 1101px) and (max-width: 1600px) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width: 2560px) {
        @content;
    }
}