@import "_config.scss";

@include mediaXl() {
  main{

    position: fixed;
    padding: 4rem;
    height: 100%;
    
    .grid-container {
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "nebMain neb1" "nebMain neb2" "nebMain neb3";
        grid-gap: 0px;
        height: 100vh;
      }

      .nebImg{
        position: relative;
        padding: 0;
        height: 30vh;
        width: 70vh;
      }

    .nebMain { grid-area: nebMain; }

  }
}

@include mediaLg() {
  
  main{

    align-items: center;
    text-align: center;
    .grid-container{
      display: grid;
      grid-template-areas: 
      "nebMain nebMain nebMain"
      "neb1 neb2 neb3";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0;
    }
    .icons{
      position: relative;
      align-content: center;
    }
    .mainImg{
          grid-area: nebMain;
          padding: 0;
          width: 100vw;
      }
    .nebImg{
          padding: 0;
          width: 33vw;
      }
  }
}

@include mediaMd() {
    main {
        align-items: center;
        text-align: center;
        
        .lg-heading {
          line-height: 1;
          margin-bottom: 1rem;
          font-size: 3rem;
        }
        .grid-container {
          display: grid;
          grid-template-areas: 
          "nebMain" 
          "neb1" 
          "neb2" 
          "neb3";
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
        }
        .nebImg{
          padding: 0;
          width: 90vw;
      }
      .mainImg{
        width: 90vw;
      }
        .icons{
          position: relative;
          align-content: center;
        }
    }
    
    h1{
      &.lg-heading{
      padding: 0;
      font-size: 7vw;
      }
    }



    main{
      border-top: 5px;
      padding: 5px;
      align-content: center;
    }

    .tournament-info{
      align-content: center;
     display: grid;
      border: 0;
      margin: 0;
      grid-gap: 5px;
      padding: 0;
      .tourn{
        font-size: 1rem;
        align-content: center;
      }
      .job{
        align-content: center;
        font-size: 1rem;
        padding: 0;
        width: 100vw;
      }
    }

      ul.menu-nav,
      div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
    
        &.show {
          transform: translate3d(0, 0, 0);
        }
      }
    
      .menu-nav {
        height: 90vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
      }
    
      .menu-branding {
        height: 10vh;
        transform: translate3d(100%, 0, 0);

      }
      .tournament-info{
        grid-template-areas: 
        'tournament-image'
        'tourn'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
      }
      h1{
        img{
          width: 4rem;
        }
      }

      #contact{

        .lg-heading{
          display: block;
          word-wrap: break-word;
          font-size: 3rem;
          img{
            display: none;
            visibility: hidden;
          }
        }

        .sm-heading{
          display: none;
          visibility: hidden;
                }
      .boxes{
        display: inline;
        word-wrap: break-word;

      }
      .widget{
        width: 80vw;
        height: 20vh;
      }
    }
}    

@include mediaSm() {

    main#home h1{
        margin-top: 1vh;
    }
}