@import "_menu.scss";
@import "_config.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    @include background();
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'WebFont', sans-serif;
    line-height: 1.5;
}


h1, h2, h3{
    padding: 0;
    margin: 0; 
    font-weight: 400;

    &.lg-heading{
        font-family: 'WebfontOutline', sans-serif;
        font-size: 6rem;

    }

    &.sm-heading{
        margin-bottom: rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color , 2), 0.2);
    }

    img{
        position: relative;
        width: 5rem;

        float: left;
        padding: 0;
        margin: 15px; 
        
    }
}

a{
    
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    height: 100%;
    .icons{
        position: fixed;
        align-content: center;
        margin-top: 1rem;
        padding: 10px;
        bottom:0;
        a{
            padding: 0.4rem;

            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
        .logoMain{
            width: 3rem;
            align-content: center;        
        }
    }

    &#home{
        overflow: hidden;
        padding: 0;
        h1{
            margin-top: 0vh;
            
        }
    }

    .grid-container {
        margin-top: 2vh;
        margin-left: 1vw;
        display: grid;
        grid-template-columns: 6fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "nebMain neb1" "nebMain neb2" "nebMain neb3";
        grid-gap: 0px;
      }

      .nebImg{
          padding: 0;
          width: 30vw;
      }

    .nebMain { grid-area: nebMain; }

    .neb1 { grid-area: neb1; 
        padding: 0;

        &:hover{
            transform: scale(1.05);
            @include easeIn();
        }

    }

    .neb2 { grid-area: neb2;
        padding: 0;
        &:hover{
            transform: scale(1.05);
            @include easeOut();
        }
    }
    .neb3 { grid-area: neb3; 
        padding: 0;
        &:hover{
            transform: scale(1.05);
            @include easeOut();
        }
    }
    .mainImg{
        width: 65vw;

    }
    .discordWidget{
        align-content: center;
        display: block;
        width: 40vw;
        height: 40vh;
    }
}
.widget{
            height: auto;
            width: 90%;
            position: relative;
            border-radius: 0px;
            
}
iframe{
    height: 50vh;
    width: 90%;
    border-radius: 0px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;

    div {
        font-size: 3rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover{
            padding: 2.5rem 3rem;
            background: $secondary-color;
            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}



.tournament-info{
    display: grid;

    grid-gap: 30px;

    grid-template-areas: 
    'tournament-image tourn tourn'
    'job1 job2 job3';

    grid-template-columns: repeat(3, 1fr);

    .text-tertiary{
        color: $tertiary-color;
        
    }

    .tournament-image{
        
        grid-area: tournament-image;
        margin: auto;
        width: 20vw;
    }
    .tourn{
        
        grid-area: tourn;
        font-size: 2rem;
    }
    
    .job1{
        
        grid-area: job1;
        
    }
    
    .job2{
        grid-area: job2;
    }
    
    .job3{
        grid-area: job3;
    }
    
    .job{
        
        font-size: 2rem;
        background: lighten($primary-color, 5);
        padding: 1rem;
        border-bottom: $tertiary-color 5px solid;
        a{
            color: $secondary-color;
        }
    }
}

@import "_mobile.scss";